*{
    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
    box-sizing: border-box;
}

body{
}

.dataForm{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: min-content;
    width: min-content;
    margin: auto;
    border: solid 1px black;
    background-color: #2c2c2c;
    border-radius: 7px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: opacity 200ms ease-in-out;


}

.dataForm > *{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}